<div class="d-flex">
  <%= render 'question_sidebar' %>
    <div class="question-tag-index">
      <% @question_tags.each do |tag| %>
        <%= render 'card_question_tag', tag: tag %>
      <% end %>
    </div>
    <div class="question-index">
      <% @questions.each do |question| %>
        <%= render 'card_question', question: question %>
      <% end %>
    </div>
</div>
