<div class="p-5 question-index d-flex flex-column-reverse">
  <%= render 'question_sidebar' %>
  <a data-toggle="modal" data-target="#questionModal">
    <%= image_tag (asset_path('orange-circle.png')), class: "add-btn" %>
  </a>
  <div class="question-tag-index">
    <%= render partial:'partials/question_tag_index', locals: { question_tags: @question_tags, portfolios: @portfolios } %>
  </div>
</div>
