<div class="d-flex">
  <%= render 'question_sidebar' %>
    <div class="question-index">
      <%= render partial:'partials/question_tag_index', locals: { question_tags: @question_tags, portfolios: @portfolios } %>
    </div>
</div>
