// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #B4C1CB;
$light-gray: #F4F4F4;
$orange: #EB8533f0;
$dark-blue: #232F34;
$white: #FFFFFF;
$black: #000000;
