<div class="articles">
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="article-container">
        <div class="article-image">
          <%= cl_image_tag article.photo, width: 400, height: 300 %>
        </div>
        <div class="article-info">
          <h1><%= article.title %></h1>
          <p><%= article.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
