  <div class="question-tag-container col-12">
    <div class="question-tag-left-block">
      <p>Portfolios</p>
    </div>
    <div class="question-tag-right-block">
      <div class="question-tag-right-block-top">
        <div class="question-tag-topic">
          <p>Amount:</p>
          <% if portfolios.count == 0 %>
            <p>0</p>
          <% else %>
            <p><%= portfolios.count %></p>
          <% end %>
        </div>
        <div class="question-tag-activity">
          <p>Activity:</p>
          <% if portfolios.count == 0 %>
            <p>No activity</p>
          <% else %>
            <p><%= portfolios.last.created_at %></p>
          <% end %>
        </div>
      </div>
      <div class="question-tag-right-block-bottom">
        <div class="question-tag-last-topic">
          <% if portfolios.count == 0 %>
          <% else %>
            <p>Last portfolio:</p>
            <%= cl_image_tag(portfolios.last.user.photo, class: "avatar-medium") %>
            <% if portfolio.last.description.present? %>
              <p><%= portfolios.last.description.truncate(100) %></p>
             <% else %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
