<div data-user=<%= @user.id %>>
  <% if current_user.is_following?(@user.id) %>
    <%= link_to "Unfollow", unfollow_user_path(@user.id), class: "btn btn-home unfollow-button ml-2", method: :post, remote: true %>
  <% else %>
    <%= link_to "Follow", follow_user_path(@user.id), class: "btn btn-home follow-button ml-2", method: :post, remote: true %>
  <% end %>
</div>

