<div class="container">
  <div class="row registration-container py-5">
    <h2 class="registration-title">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "RESET PASSWORD", class: "btn mr-3 btn-primary", style: "padding: 6px 32px;" %>
      </div>
    <% end %>

  </div>
</div>

