<span class="border-top"></span>
<footer class="footer">
  <div class="footer-addr">
    <h1 class="footer-logo">Designn Hub</h1>

    <div class="social-link">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <ul class="footer-nav">
    <li class="nav-item">
      <h2 class="nav-title">Quick Links</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Meet the Team</a>
        </li>

        <li>
          <a href="#">Media</a>
        </li>

        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <h2 class="nav-title">Legal</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>

        <li>
          <a href="#">Terms of Service</a>
        </li>

        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2019 DesignnHub. All Right Reserved. </p>
  </div>
</footer>
