<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= image_path("banner.jpg") %>);">
  <div class="container">
    <div class="row slider-text align-items-center justify-content-center">
      <div class="col-lg-12 text-center col-sm-12">
      <h1>The <strong>central, creative hub</strong> for <strong>all designers</strong>!</h1>
      <p>Change your life and build connections with other designers around the world.</p>
      <%= link_to "View designs", designs_path, class: "btn btn-home" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
