<div class="d-flex">
  <div class="sticky-sidebar p-3 mr-5">
  <h3 class="thin-font line-bottom">Category</h3>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">All</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">Photography</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">Illustration</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">Animation</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">Web Design</p>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
        <p class="mb-0 mx-3">Product Design</p>
      </div>
    </div>
  </div>
</div>
