<div class="d-flex">
  <%= render 'job_post_sidebar' %>
  <div class="masonry-wrapper">
    <div class="masonry">
    <% @job_posts.each do |job_post| %>
      <%= render 'card_job', job_post: job_post %>
    <% end %>
    </div>
  </div>
</div>
