.answer {
  margin: 16px 8px;
}

.answer-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer-user-info {
  display: flex;
  align-items: center;
}

.user-details {
  margin-left: 12px;
  line-height: 1.4;
}

.answer-content {
  margin: 16px 8px;
}

.respone-show {
  display: none;
}