.container-bar {
  justify-content: space-between;
  padding: 0 24px;
  margin: 38px 12px 0px 12px;
}

.scroll-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-right: 20px;
}

.scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.category-link {
  padding: 12px;
  flex: 0 0 auto;

  a {
    color: black;
    margin-right: 18px;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
      border-color: $orange;
      color: $orange;
    }
  }
}

.category-link-area {
  position: relative;

  .category-link-more {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 15px;
    right: 0;
  }

   &:hover {
    .category-link-more {
    opacity: 1;
    }
  }
}
