.add-btn {
  height: 40px;
  position: fixed;
  top: 64px;
  right: 18px;
  z-index: 1;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out 0s;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out 0s;
  }
}

@media (max-width: 860px) {
  #add-btn-design {
    top: 64px;
  }
}

@media (max-width: 768px) {
  #add-btn-design {
    top: 76px;
  }
}

@media (max-width: 376px) {
  #add-btn-design {
    position: absolute;
    left: 292px;
    top: 136px;
  }
}

.btn > a {
  text-decoration: none;
  letter-spacing: 3px;
  border-radius: 0.5px;
  font-weight: 500;

  &:hover {
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 0.5px;
  }
}

.btn-outline-black {
  color: black;
  padding: 8px 24px;
  border: 3px solid $black;
  background: white;
  transition: background 0.3s ease;

  a {
    color: black;
  }

  &:hover {
    background: black;
    color: white;
    a {
      color: white;
    }
  }
}

.btn-outline-white {
  color: white;
  padding: 8px 24px;
  border: 3px solid white;
  background: transparent;
  transition: background 0.3s ease;

  a {
    color: white;
  }

  &:hover {
    background: white;
    color: black;
      a {
      color: black;
    }
  }
}

.btn-home {
  padding: 8px 24px;
  border: 3px solid $orange;
  border-radius: 2px;
  background: transparent;
  transition: background 0.3s ease;
  color: $orange;
  text-transform: uppercase;
    a {
    color: white;
  }
  &:hover {
    background: $orange;
    color: white;
      a {
      color: white;
    }
  }
}

.btn-primary {
  border-color: $orange;
}

.btn-sign-up {
  margin-bottom: 2px;
  color: $orange;
  border: 3px solid $orange;
  border-radius: 2px;

  &:hover {
    background: $orange;
    color: white;
  }
}

#apply-btn {
  width: 140px;
  color: white;
}









