.design-pic {
  width: 100%;
  height: 320px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  opacity: 1;
}

.cards {
  position: relative;
  width: 100%;
  box-shadow: 0 0 4px rgba(120,120,120,0.2);
}

.infos {
  opacity: 0;
  width: 100%;
  position: absolute;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;

}

.cards:hover .infos {
  opacity: 1;
}

.title-link a {
  text-decoration: none;
  margin-left: 14px;
  margin-bottom: 12px;
  font-weight: 300;
  color: white;
}

.user-link {
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin-left: 8px;

  &:hover {
  text-decoration: none;
  }
}

.text-background {
  background: linear-gradient(to top, rgba(60, 60, 60, 0.7), transparent);
  color: white;
  font-size: 10px;
  padding: 24px 24px 10px 20px;
  text-align: left;
  z-index: 10;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 42px;
  margin: 32px 42px;
  flex-grow: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
