* { box-sizing: border-box; }

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.masonry-item {
  border-radius: 2px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
  background-color: white;
  padding: 32px;
  float: left;
  margin-bottom: 30px;

  .job-img {
    width: 200px;
    height: auto;
  }
}

.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .4));
}

.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0;
  border-bottom: 2px solid $orange;
  padding-bottom: 8px;
  color: $orange;
}

.masonry-description {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  margin: 0;
  color: black;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .masonry-item {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .masonry-item {
    width: 48%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .masonry-item {
    width: 31%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .masonry-item {
    width: 31%;
  }
}
