.container-bar {
  padding: 0 24px;
}

.category-link {
  padding: 12px;

  a {
    color: black;
    margin-right: 18px;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
      border-color: $orange;
      color: $orange;
    }
  }
}
