.design-photo-pinner {
  display: inline-block;
  border: 3px solid black;
  margin: 20px;
  position: relative;
}
.design-photo-pin {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

#hidden{
  display: none;
}

