.design-photo-pinner {
  display: inline-block;
  border: 3px solid black;
  margin: 20px;
  position: relative;
}
.design-photo-pin{
  width: 3px;
  height: 3px;
  background: red;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}
