.design-photo-pinner {
  display: inline-block;
  margin: 20px;
  position: relative;

  .design-photo-image-wrapper {
    position: relative;
    img {
      width: 100%;
    }
  }
}
.design-photo-pin {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  display: none;

  &.visible {
    display: block;
  }
}

#hidden{
  display: none;
}

