.main-show-container {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px;
}

.row {
  margin: 24px 16px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
}

.comments {
  margin: 20px;
  height: 66vh;
}

.new-comment {
  height: 20vh;
}

#design {
  height: 1300px;
  width: 1300px;
}

.design-description {
  border: 1px solid;
  border-color: gray;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.under-comment-box {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: 8px;
}

.user-profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.comment-input {
  padding: 10px;
}

.comment-box {
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-color: gray;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.under-comment-box {
  margin-bottom: 12px
}

#votes {
  display: flex;
  flex-direction:  column;
  text-align: right;
 }

.comment-box-container {
  display: flex;
}

.location {
  display: none;
}

.overflow-auto {
  margin-bottom: 12px;
}






