.main-show-container {
  justify-content: space-between;
  margin: 16px 16px;
}

.row {
  margin: 24px 16px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 800px;
}

.comments {
  margin: 20px;
  height: 72vh;
}



.new-comment {

  // height: 20vh;

}

.design-description {
  border: 1px solid;
  border-color: gray;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.under-comment-box {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: 8px;
}

.user-profile-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.comment-input {
  padding: 10px;
}

.comment-box {
  font-size: 18px;
  font-weight: 400;
}

.under-comment-box {
  margin-bottom: 12px
}

#votes {
  display: flex;
  flex-direction:  column;
  text-align: right;
 }

.comment-card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 40px;
  position: relative;

  &:nth-child(even) {
    margin-left: 20px;
  }
}

.location {
  display: none;
}

.overflow-auto {
  margin-bottom: 12px;
 padding-top: 30px;

}

 .row{
//  border: 1px solid;
 margin: 0;
//  margin-top: 20px;
 }

$card_number_size: 35px;
 .comment-card-number{
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: white;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  width: $card_number_size;
  height: $card_number_size;
  text-align: center;
  line-height: 33px;
  font-family: arial;
 }
.comment-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}
.comment-meta-name {
  margin: 0 10px;
  font-weight: bold;
  color: #222;
}
.comment-meta-date {
  color: #aaa;
}




