.shot-data {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(white, .9);
  cursor: pointer;
}

#drop_zone {
  position: relative;
  padding: 3rem 0;
  border: 2px dashed #e7eaee;
  text-align: center;
  border-radius: 6px;
  background-color: #f8f8f8;

  &.dragging::before {
    content: "";
    position: absolute;
    left: 0; width: 100%;
    top: 0; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba($primary, .3);
    pointer-events: none;
    z-index: 99;
  }

  &.fire::before {
    content: "";
    position: absolute;
    left: 0; width: 100%;
    top: 0; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba($green, .3);
    pointer-events: none;
    z-index: 99;
  }
}

.file-input {
  display: none;
}

.thumb {
  height: 300px;
  width: 100%;
  margin-bottom: 8px;
}

