.title-underline {
  border-bottom: 2px solid $orange;
  transition: all ease-in-out 1s;
}

.thin-heading {
  font-weight: 300;
}

.form-control-job {
  width: 100%;
}

.form-control:focus {
  outline: none;
}

.form-control-job:focus {
  outline: none;
}

