.modal-title, h5 {
  font-weight: 300;
  border-bottom: 0;
  padding-bottom: 0;
}

.modal-content {
  width: 480px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

#design_title {
  margin-bottom: 8px;
}
