.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 12px;

.logo-name {
  display: inline;
  color: $orange;
  font-weight: 300;
}

a {
    text-decoration: none;
    opacity: 1;

  &:hover {
    transform: translateX(-1%);
    transition-timing-function: ease-out;
    transition: 0.2s;
  }
}

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .navbar-brand img {
    width: 28px;
    margin: 8px;
  }

  .navbar-nav {
    align-items: center;
  }

  .nav-link {
    display: inline;
    padding: 0;
  }

  &.navbar-transparent {
    background-color: transparent;
    box-shadow: none;

    .logo {
      filter: invert(1);
    }

    .nav-link {
      filter: invert(1);
      color: black;
    }
  }
}

.dropdown-menu {
  border: 0.5px solid;
  padding: 2px 4px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
