.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 10px 12px;
  position: absolute;

.logo-name {
  display: inline;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.15rem;
    font-weight: 300;

  &:hover {
    transform: translateX(-5%);
    transition-timing-function: ease-out;
    transition: 0.2s;
  }

}

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .navbar-nav {
    align-items: center;
  }

  .nav-link {
    display: inline;
    padding: 0;
  }

  &.navbar-transparent {
    background-color: transparent;

    .logo {
      filter: invert(1);
    }

    .nav-link {
      filter: invert(1);
    }
  }
}

.dropdown-menu {
  background: black;
  border-radius: 2px;
}
