.new-answer-form {
  display: flex;
  border-radius: 2px;
  background: #E7EAEE;
  padding: 10px 18px;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.new-answer-form-input {
  flex: 1;
  margin: 0;
}

.new-answer-form-input textarea {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  height: 65px;
}

.new-answer-form-submit {
  color: white;
  width: 40px;
  border-radius: 50%;
  background: $orange;
  position: absolute;
  top: 22px;
  right: 29px;
}

.new-answer-form-submit:hover {
  cursor: pointer;
}
