.registration-container {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.registration-title {
  color: $orange;
  margin-bottom: 16px;
  border-bottom: 2px solid $orange;
  padding-bottom: 16px;
}

.register-name {
  display: flex;
  justify-content: center;
}

.first-name {
  width: 100%;
  margin-right: 8px;
}

.last-name {
  width: 100%;
  margin-left: 8px;
}
