.search-btn {
  padding: 0;
  border: none;
  -webkit-appearance: none;
  position: absolute;
  top: 27%;
  font-size: 1rem;
  left: 0;
}

.search-form {
  position: relative;
  align-items: center;
  display: flex;
}

.search-form .form-control {
  padding-left: 30px;
  border: none;
  height: 44px;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid black;
  color: #fff;
}

.form-control {
  outline: none;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
