.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.bio-container {
  p {
    font-size: 0.8rem;
  }

  h2 {
    margin-bottom: 16px;
  }
}

.user-social-link {
  margin-top: 46px;
  a {
    padding: 12px 18px 12px 0;
  }
}

.skill-icon {
  margin: 4px;
  padding: 8px;
}

.fa-caret-down, .fa-caret-right {
  font-size: 16px;
  margin-left: 12px;
}

.fa-map-marker-alt {
  margin-right: 12px;
}

.fa-pencil-ruler {
  margin-right: 8px;
}

.item-title {
  font-weight: 600;
  margin-left: 26px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.5rem;
  font-weight: 500;
}

.card {
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.125);

  img {
    border-radius: 8px 8px 0 0;
  }
}
