.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#edit-icon {
  position: absolute;
  top: 10px
}

.bio-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.bio-container {
  p {
    font-size: 0.8rem;
  }

  h2 {
    margin-bottom: 16px;
  }
}

.experiences {
  overflow: scroll;
  height: 320px;
}

.experience-bar {
  display: flex;
  align-items: center;
}

.user-social-link {
  margin-top: 46px;
  a {
    padding: 12px 18px 12px 0;
  }
}

.skill-icon {
  margin: 4px;
  padding: 8px;
}

.fa-caret-down, .fa-caret-right {
  font-size: 16px;
  margin-left: 12px;
}

.fa-plus {
  margin-left: 12px;
}

.fa-map-marker-alt {
  margin-right: 12px;
}

.fa-pencil-ruler {
  margin-right: 8px;
}

.item-title {
  font-weight: 600;
  margin-left: 26px;
  margin-top: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.5rem;
  font-weight: 500;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.card {
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.125);

  img {
    border-radius: 4px 4px 0 0;
  }

  &:hover {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .2));
  }
}
