
.main-show-container {
  justify-content: space-between;
  margin: 16px;
}

.row {
  margin: 24px 16px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: calc(100vh - 75px);
  width: 300px;
}

.comment-content{
  font-size: 16px;
  margin-right: 16px;
}

.comment-btn{
  background-color: $orange;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid #E7EAEE;

}

.comments {
  margin: 20px;
  height: 72vh;
}

.design-description {
  border-radius: 4px;
  margin-top: 10px;
  padding: 16px;
}

.form-control{
  border: 2px solid #E7EAEE;
  background-color: #FFFFFF;
}


.user-profile-pic {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.comment-input {
  padding: 10px;
  border-radius: 4px;
}

.comment-box {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}

#votes {
  display: flex;
  flex-direction: column;
  text-align: center;

  p{
    margin: 0;
    padding: 0;
  }
 }

.comment-card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.location {
  display: none;
}


 .row{
//  border: 1px solid;
 margin: 0;
//  margin-top: 20px;
 }

$card_number_size: 35px;
 .comment-card-number{
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: white;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
  width: $card_number_size;
  height: $card_number_size;
  text-align: center;
  line-height: 33px;
  font-family: $my-font;
 }

.comment-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.comment-meta-link{
  margin: 0 10px;
}

.design-meta-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.design-meta-description{
  color: #222;
}

.design-meta-name{
  display: flex;

}




