.job-container {
  position: absolute;
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.2);
  min-height: 500px;
  padding: 16px;
  margin-top: 16px;
  text-align: center;


  .job-detials {
    margin: 24px 24px 20px 176px;

    h2 {
      margin-bottom: 20px;
      margin-right: 32px;
    }
  }

  .job-user {
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;

    p {
      color: #b7b7b7;
      font-weight: lighter;
      font-size: 14px;
    }

    .user-link {
      p {
        margin-bottom: 0;
      }
    }
  }
  .apply-btn {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
  }
}

.job-tag-container-img {
  background: $orange;
  box-shadow: 6px 6px 10px rgba(160, 160, 160, 0.4);
  padding: 20px 24px;
  height: 280px;
  width: 230px;
  position: absolute;
  left: -80px;
  top: 380px;
  text-align: left;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;

  .job-tag {
    line-height: 0.6em;
  }

  h3 {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    color: white;
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.job-tag-container-no-img {
  background: $orange;
  box-shadow: 6px 6px 10px rgba(160, 160, 160, 0.2);
  padding: 20px 24px;
  height: 270px;
  width: 220px;
  position: absolute;
  left: -80px;
  top: 80px;
  text-align: left;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;

  .job-tag {
    line-height: 0.6em;
  }

  h3 {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }

  p {
    color: white;
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.job-image {
  margin: 32px;
}

.user-review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .user-review-info {
    margin-left: 12px;
    line-height: .4rem;
  }

  #review-profile {
    font-size: 14px;
  }

  h6 {
    font-size: 18px;
    font-weight: 450;
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}
